{% extends 'default.html.twig' %}

{% block main %}
<main>
    {% for cat in taxonomy.getTaxonomyItemKeys('category') %}
        <div class="category">
            <h1>{{ cat }}</h1>
        </div>
        <div id="grid-container">
            {% for item in taxonomy.findTaxonomy({'category': cat }) %}
                    {% for img in item.media.images %}
                        {% if loop.index == 1 %}
                            <div>
                                <a href="{{ item.url }}">{{ img }}</a>
                                <h2>{{ item.title }}</h2>
                            </div>
                        {% else %}
                            <div>
                                <a href="{{ item.url }}">{{ img }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for animated in item.media.files %}
                        <div>
                            <a href="{{ item.url }}">{{ animated }}</a>
                        </div>
                    {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
</main>
{% endblock %}
